.entrance-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(var(--scale));
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: transparent;
  filter: blur(var(--circle-mask-blur));
  isolation: isolate;
  mix-blend-mode: color-dodge;
}